@use "../utils/variables";
@use "../utils/zoom";
@use "../utils/box-shadows";


// Mixin-Btn Section1 : 

@mixin section1__btn {
    
    font-size: 25px;
    color: black;
    font-weight: variables.$weight;
    padding:variables.$padding;
    border-radius: 15%;
    background-color: #fff;
    margin-bottom: 5%;
    @include box-shadows.box-shadow_one;
}


// Mixin-Btn Section3 :

@mixin section3__btn {

    font-size: 25px;
    color: variables.$black;
    font-weight: variables.$weight;
    padding: variables.$padding;
    border-radius: 15%;
    background-color: #f05f40;
    position: absolute;
    bottom: 3rem;
    left: 47%;
    @include box-shadows.box-shadow_one;
}



// Mixin-Btn Section4 :

@mixin section4__btn1 {

    padding: 17px;
    background-color: variables.$oranged;
    font-size: 23px;
    font-weight: variables.$weight;
    border-radius: 15%;
    margin-top: 10px;
    margin-bottom: 15px;
    @include box-shadows.box-shadow_three;
}    


@mixin section4__btn2 {
    
    font-size: variables.$font-size;
    color: black;
    font-weight: bold;
    padding: variables.$padding+5px;
    border-radius: 15%;
    background-color: #fff;
    margin-bottom: 5%;
    @include box-shadows.box-shadow_four;
    position: relative;
    top: 8rem;

}



// Mixin-Btn Section5 :


@mixin section5__btn {

    background:variables.$oranged;
    border-radius: 15%;
    color: variables.$light;
    font-size: 1.5rem;
    font-weight: variables.$weight;
    padding: 1rem;
    width: 12rem;
    position: relative;
    left: 37%;
    top: 2rem;
    border: 2px solid black;
}
