
//Keyframes Loader :


@mixin loader {
    @keyframes loader {
     100% {
         opacity: 0;
         z-index: -10;
     }
   } 
 }
 
   
   
 @mixin jump {
     @keyframes jump {
     0% {
         transform: translateY(0);
     }
     25% {
         transform: translateY(2rem);
     }
     75% {
         transform: translateY(-2rem);
     }
     100% {
         transform: translateY(0);
     }
 
    }
 }



