// Responsives Desktop, tablette and mobile :


@mixin Desktop {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}


@mixin tablet {
    @media only screen and (max-width: 768px) {
        @content;
        
    }
}


@mixin phoneL {
    @media only screen and (max-width: 425px) {
        @content;
        
    }
}



@mixin phoneM {
    @media only screen and (max-width: 375px) {
        @content;
        
    }
}



@mixin phoneS {
    @media only screen and (max-width: 320px) {
        @content;
        
    }
}