// Responsives Desktop, tablette and mobile :


@mixin Desktop {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}


@mixin tablet {
    @media only screen and (max-width: 768px) {
        @content;
        
    }
}


@mixin phoneL {
    @media only screen and (min-width: 425px) and (max-width: 564px) {
        @content;
        
    }
}



@mixin phoneM {
    @media only screen and (max-width: 375px) and (max-width: 564px) {
        @content;
        
    }
}



@mixin phoneS {
    @media only screen and (max-width: 320px) and (max-width: 564px) {
        @content;
        
    }
}