// Descriptive color variables :

$black:black;
$light-grey: rgba(255,255,255,.7); 
$white:white;
$light: #fff;
$oranged: #f05f40;
$dark:rgba(0,0,0,0.75);
$light-dark: #1a1a1a;


// Descriptive padding, margin, gap, font-size and border-radius variables :

$weight: bold;
$margin: 30px;
$margin-top: 30px;
$margin-bottom: 20px;
$padding: 20px;
$padding-bottom: 20px;
$padding-top: 20px;
$gap: 20px;
$font-size:30px;
$border-radius: 30%;
