@use "../utils/variables";
@use "../utils/responsives";


//Footer :

.conteneur__footer{
    background-color: variables.$light;
    margin-top: 10%;
    padding-bottom: 5%;
    opacity: 0.9;
    border-radius: 5%;
    text-align: center;
    position: relative;

    @include responsives.Desktop{
        text-align: none;
        display: flex;
    }




    & ul{
        gap: 5rem;
        display: flex;
        list-style: none;
        margin: 5rem;
        position: relative;
        right: 3%;
        top: 5rem;
        font-size: variables.$font-size;

        @include responsives.Desktop{
            gap: 3rem;
            margin: 0rem;
            top: 1rem;
            font-size: 25px;
            left: 4%;
            right: 0px;
        }

        @include responsives.tablet{
            gap: 1.6rem;
            margin: 0rem;
            top: 1rem;
            font-size: 23px;
            left: 3%;
            right: 0px;
        }

        @include responsives.phoneL{
            gap: 3.6rem;
            margin: 0;
            top: 1rem;
            font-size: 23px;
            left: 11%;
            right: 0px;
        }

        @include responsives.phoneM{
            top: 0.5rem;
            left: 4%;
        }

        @include responsives.phoneS{
            font-size: 1.3rem;
            left: 0%;
        }
    
    }
    

    & a{
        text-decoration: none;
        color: variables.$light-dark; 
        
    }
    

    .border__footer__y{
        display: inline-block;
        border-left: 2px solid black;
        height: 15.1rem;
        left: 40%;
        position: absolute;
        bottom: 0px;

        @include responsives.Desktop{
            height: 8.2rem;
        }

        @include responsives.tablet{
            height: 7rem;
        }

        @include responsives.phoneL{
            display: none;
        }
    
    }
    

    .border__footer__x{
        display: flex;
        border: 1px solid variables.$black;
        width: 60%;
        position: absolute;
        left: 40%;
        bottom: 7rem;

        @include responsives.Desktop{
            bottom: 4rem;
            width: 60%;
            left: 40%;
        }

        
        @include responsives.phoneL{
            display: none;
        }

        
    }
    
    
    .conteneur__liens_footer{

        & ul{
            position: absolute;
            gap: variables.$gap+10px;
            left: 43%;
            margin-right: 0px;
            padding-top: 0.5rem;

            @include responsives.Desktop{
                display: flex;
                flex-direction: row;
                font-size: 1.5rem;
                top: 5rem;
                left: 44%;
            }
            @include responsives.tablet{
                flex-direction: row;
                font-size: 21px;
                top: 4rem;
                gap: 13px;
                left: 43%;
            }

            
            @include responsives.phoneL{
                display: none;
            }
        }
        
        
        
        & span{
            position: absolute;
            bottom: 10rem;
            font-size: 2.5rem;
            font-weight: bold;
        }
        
        
        
        & span a{
            text-decoration: none;
            color: variables.$oranged;
            position: relative;

            @include responsives.Desktop{
                left: 32%;
                font-size: 2rem;
                top: 5rem;
            }
            
            @include responsives.tablet{
                left: 28%;
                font-size: 1.5rem;
                top: 5.5rem;
            }
            
            @include responsives.phoneL{
                display: none;
            }
        }
    }
}







