@use "../utils/variables";
@use "../utils/zoom";
@use "../utils/responsives";


//Header :


.conteneur{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: rgb(255, 255, 255);
    padding: 1.3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
   
}




.conteneur__span{
    font-size: variables.$font-size;
    font-weight: 700;

    @include responsives.tablet{
        font-size: 27px;
    }

    
    @include responsives.phoneL{
        font-size: 20px;
    }


    
    & a{
        color:black;
        text-decoration: none;
        padding-left: 1rem;

        @include responsives.phoneL{
            padding-left: 0rem;
        }
    }

    & a:hover{
        color:variables.$oranged;
    }
    
    
    &:hover{
        cursor: pointer;
        @include zoom.Section_zoom;
    
    }
}



.conteneur__nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: variables.$gap+10px;
    font-size: 22px;
    list-style: none;
    font-weight: 700;

    @include responsives.tablet{
        display: none;
    }


    & a {
        text-decoration: none;
        color: black;
    }
    
    
    & li:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    
    
    & a:hover{
        color:variables.$oranged;
        
    }
}




.conteneur__block{
    text-align: center;
    padding-top: 15%;


    @include responsives.tablet{
        padding-top: 20%;
    }
    
    
    @include responsives.phoneL{
        padding-top: 27%;
    }


    & img{
        border-radius: 50%;
        max-width: 20%;
        margin-bottom: 8%;
        border: 3px solid white;

        @include responsives.tablet{
            max-width: 30%;
        }

        
        @include responsives.phoneL{
            max-width: 60%;
        }
    }
    
    
    & div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: variables.$gap+20px;
        font-size: 25px;
        position: relative;
        bottom: 4rem;
        cursor: pointer;

        @include responsives.Desktop{
            bottom: 3rem;
        }

        @include responsives.tablet{
            bottom: 1rem;
        }

        
        @include responsives.phoneL{
            bottom: 0rem;
            margin-bottom: 3rem;
            margin-top: 1rem;
        }

    }
    
    
    #icone1:hover{
        color:variables.$light;
        @include zoom.Section_zoom;
    }
    
    
    
    #icone2:hover{
        color:variables.$light;
        @include zoom.Section_zoom;
    }
    
    
    
    #icone3:hover{
        color:variables.$light;
        @include zoom.Section_zoom;
    }



    & div a{
        text-decoration: none;
        color: #8d8d8d;
    }
    
    
    & h1{
        font-size: variables.$font-size+30px;
        color: #fff;    
        font-weight: variables.$weight;    
        
        @include responsives.Desktop{
            font-size: variables.$font-size+25px;
        }

        
        @include responsives.phoneL{
            font-size: 35px;
        }
    
    }
    
    
    .conteneur__border{
        display: flex;
        position: relative;
        left: 48%;
        border: 2px solid variables.$oranged;
        width: 4%;
        margin-top: variables.$margin-top+5px;

        
        @include responsives.phoneL{
            left: 45%;
            width: 10%;
        }

    }
    
    

    & p{
        margin-top: variables.$margin-top+10px;
        font-size: 23px;
        font-weight: 100;
        color: variables.$light-grey;
        letter-spacing: 5px;
        margin-bottom: variables.$margin-bottom+20px;

        @include responsives.Desktop{
            font-size: 20px;
        }

        @include responsives.tablet{
            font-size: 13px;
            line-height: 2rem;
        }
        
        @include responsives.phoneL{
            font-size: 14px;
            line-height: 2rem;
        }
    
    }
    
    
    .fa-arrow-circle-down:before{
        color: variables.$oranged;
           
   
    }
    
    
    .fa-arrow-circle-down:hover{
        @include zoom.Section_zoom;
        cursor: pointer;
    }
}