@use "../utils/keyframes";
@use "../utils/variables";
@use  "../utils/responsives";

//Loader Animation


.loader {
  @include keyframes.loader;
  animation: loader 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  align-items:center;
  background: rgb(155, 153, 154);
  background: radial-gradient(circle, rgb(53, 55, 55) 0%, rgb(47, 47, 47) 100%);
  opacity: 1;
  display:flex;
  height: 100%;
  justify-content:center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
    
  &__item {
      display:flex;
      justify-content: center;
      align-items: center;
      @include keyframes.jump;
      animation-iteration-count: 1;
      animation: jump 1s;
      
      &Container {
        font-size: 8rem;
        border: 5px solid variables.$light;
        padding: 3rem;
        border-radius: 5%;
        color: variables.$light;
        display: flex;
        justify-content: space-between;
        font-weight: bold;

        @include responsives.phoneL{
          font-size: 5rem;
        }

        @include responsives.phoneM{
          font-size: 3rem;
        }

        @include responsives.phoneS{
          font-size: 2.5rem;
        }
  

      }

      &--1 {
        animation-delay: 0s;
      }
  
      &--2 {
        animation-delay: 1s;
        
      }
  
      &--3 {
        animation-delay: 1.5s;
      }

  }
}

