@use "../utils/variables";
@use "../utils/zoom";
@use "../utils/box-shadows";
@use "../components/btn";
@use "../utils/mixin";
@use "../utils/responsives";


//Section 1 :

.conteneur__section1{
    @include mixin.block1__mixin;
}



.conteneur__block__section1{
    text-align: center;
    
    
    & h2{
        font-weight: variables.$weight;
        font-size: 4rem;
        padding-top: 5%;

        @include responsives.tablet{
            font-size: 5rem;
        }
           
        @include responsives.Desktop{
            font-size: 5rem;
            padding-top: 5%;
        }

        
        @include responsives.phoneL{
            font-size: 3rem;
            margin-top: 4rem;
        }

    }
    
    
    & h3{
        font-weight: 700;
        font-size: 3rem;
        color: #fff;
        padding-top: variables.$padding-top+10px;

        
        @include responsives.phoneL{
            font-size: 2rem;
        }

        @include responsives.phoneM{
            font-size: 1.8rem;
        }

        @include responsives.phoneS{
            font-size: 1.5rem;
        }
    
    }
    
    
    .conteneur__border__section1{
        display: flex;
        position: relative;
        left: 48%;
        border: 2px solid variables.$light;
        width: 4%;
        margin-top: variables.$margin-top+5px;  
        
        
        @include responsives.phoneL{
            left: 46%;
            width: 9%;
        }
           
    }
    
    
    .conteneur__paragraphe1__section1{
        font-weight: 100;
        font-size: 20px;
        color: variables.$light;
        padding-top: variables.$padding-top;
        padding-bottom: variables.$padding-bottom;
        line-height: 2rem; 

        @include responsives.tablet{
            font-size: 17px;
        }

        @include responsives.phoneM{
            font-size: 16px;
        }

        @include responsives.phoneS{
            font-size: 13px;
        }
    
     
    }
    
    
    .conteneur__paragraphe2__section1{
        font-weight: 100;
        font-size: 20px;
        color: variables.$light;
        padding-bottom: variables.$padding-bottom+30px;
        line-height: 2rem;    

        @include responsives.tablet{
            font-size: 17px;
        }

        @include responsives.phoneM{
            font-size: 16px;
        }

        @include responsives.phoneS{
            font-size: 13px;
        }
    
           
    }
    


    & button{
        @include btn.section1__btn;

        @include responsives.tablet{
            font-size: 20px;
        }

        @include responsives.phoneS{
            font-size: 17px;
        }
    
    }
    
    

    & button:hover{
        @include zoom.Section_zoom;
        cursor: pointer;
    }
}




