@use "../utils/variables";
@use "../utils/zoom";
@use "../utils/box-shadows";
@use "../components/btn";
@use "../utils/mixin";
@use "../utils/responsives";

//Section3 :

.conteneur__section3{
    @include mixin.block2__mixin;
}



.conteneur__block__section3{
    text-align: center;
    position: relative;
    padding-bottom: 15%;

    
    @include responsives.Desktop{
        padding-bottom: 16%;
    }
    
    
    
    & h2{
        font-weight: variables.$weight;
        font-size: 4rem;
        padding-top: 7%;
        padding-bottom: 10%;
        
        @include responsives.tablet{
            padding-bottom: 20%;
            padding-top: 7%;
        }

        @include responsives.phoneL{
            font-size: 3rem;
            padding-bottom: 59%;
        }

        @include responsives.phoneM{
            padding-bottom: 80%;
        }

        @include responsives.phoneS{
            font-size: 2.5rem;
        }
    
    
    }
}




.image1__section3{
    display: flex;
    max-width: 135px;
    margin: variables.$margin+10px;
    border-radius: variables.$border-radius;
    padding: variables.$padding;
    background-color: variables.$oranged;
    border: solid 2px variables.$dark;

    @include responsives.tablet{
        max-width: 120px;
        margin: 3px;
        bottom: 1rem;
        position: relative;
    }

    @include responsives.phoneL{
        max-width: 83px;
        margin: 3px;
        padding: 4px;
        bottom: 13rem;
        position: relative;
    }

    @include responsives.phoneM{
        max-width: 60px;
        margin: 3px;
        padding: 4px;
        bottom: 15rem;
        position: relative;
    }

    @include responsives.phoneS{
        bottom: 12rem;
    }


}



.conteneur__date__section3{
    font-weight: variables.$weight;
    position: absolute;
    font-size: 25px;
    right: 86%;
    bottom: 48rem;
    padding: variables.$padding;
    border-radius: variables.$border-radius;
    border: 2px solid variables.$dark;
    background-color: lightgrey;
    
    @include responsives.Desktop{
        right: 81%;
        bottom: 45rem;
    }

    @include responsives.tablet{
        right: 84%;
        font-size: 1rem;
        bottom: 39rem;
    }

    @include responsives.phoneL{
        right: 44%;
        font-size: 1rem;
        bottom: 65rem;
    }

    @include responsives.phoneM{
        right: 41%;
        font-size: 1rem;
        bottom: 73rem;
    }

    @include responsives.phoneS{
        font-size: 0.8rem;
        right: 41%;
        bottom: 96rem;
    }

}



.conteneur__border__section3{
    display: inline-block;
    position: absolute;
    border-left: 3px solid variables.$oranged;
    right: 92%;
    height: 24rem; 

    @include responsives.tablet{
        right: 91%;
    }

    @include responsives.phoneL{
        right: 90%;
        top: 14rem;
        height: 55rem;
    }

    @include responsives.phoneM{
        right: 91%;
        top: 13rem;
        height: 60rem;
    }

    @include responsives.phoneS{
        right: 89%;
        top: 13rem;
        height: 82rem;
    }

       
} 



.conteneur__block__formation h3{
    font-weight: variables.$weight;
    font-size: 2.5rem;
    position: absolute;
    bottom: 39rem;
    right: 45%;

    @include responsives.Desktop{
        font-size: 2rem;
        right: 37%;
    }

    @include responsives.tablet{
        font-size: 1.5rem;
        right: 38%;
        bottom: 32rem;
    }

    @include responsives.phoneL{
        font-size: 1.5rem;
        right: 11%;
        bottom: 59rem;
    }

    @include responsives.phoneM{
        font-size: 1.5rem;
        right: 2%;
        bottom: 68rem;
    }

    @include responsives.phoneS{
        font-size: 1.2rem;
        right: 9%;
        bottom: 92rem;
    }


}




.conteneur__projets__section3{
    
    & h4{
        text-align: justify;
        position: absolute;
        bottom: 35rem;
        padding-left: 14%;
        font-size: 1.5rem;
        font-weight: variables.$weight;
        color: variables.$oranged;

        @include responsives.Desktop{
            bottom: 29rem;
        }

        @include responsives.tablet{
            bottom: 27rem;
        }

        @include responsives.phoneL{
            position: relative;
            bottom: 6rem;
        }

        @include responsives.phoneM{
            position: relative;
            bottom: 9rem;
            left: 3%;
        }
    }

    
    & p{
        text-align: justify;
        line-height: 3.5rem;
        font-size: 17px;
        padding-left: 15%;
        font-weight: 500;

        @include responsives.Desktop{
            top: 3rem;
            position: relative;
        }

        @include responsives.tablet{
            position: relative;
            font-size: 85%;
            top: 1.5rem;
        }

        @include responsives.phoneL{
            position: relative;
            font-size: 85%;
            width: 84%;
            top: -5rem;
        }

        @include responsives.phoneM{
            position:relative;
            font-size: 85%;
            width: 84%;
            top: -9rem;
        }

        @include responsives.phoneS{
            font-size: 1.2rem;
            position: relative;
            left: 3%;
            bottom: 9rem;
            width: 88%;
        }
    

    }

    
    .image2__section3{
        position: absolute;
        bottom: 27rem;
        left: 70%;
        max-width: 200px;
        padding: variables.$padding;
        background-color: #f05f40;
        border: solid 2px black;
        border-radius: variables.$border-radius;
        
        
        @include responsives.tablet{
            max-width: 150px;
            padding: 5px;
            left: 76%;
            top: 11rem;
        }

        @include responsives.phoneL{
            top: 7rem;
            max-width: 100px;
            left: 68%;
        }

        @include responsives.phoneM{
            top: 8rem;
            max-width: 87px;
            left: 70%;
        }

        @include responsives.phoneS{
            top: 6rem;
            max-width: 89px;
            left: 70%;
        }
        
    }
    
    
    
    .image2__section3:hover{
        @include zoom.Section_zoom;
        cursor: pointer;
        background-color: variables.$light;

    }
    


    & button{
        @include btn.section3__btn;
        
        @include responsives.Desktop{
            bottom: 1rem;
            left: 45%;
        }

        @include responsives.tablet{
            bottom: 1rem;
            font-size: 1rem;
            left: 45%;
        }

        @include responsives.phoneL{
            bottom: 1.5rem;
            font-size: 1.5rem;
            left: 34%;
        }

        @include responsives.phoneM{
            bottom:2.5rem;
            font-size: 1.5rem;
            left: 30%;
        }
            
    }
    
    
    
    & button:hover{
        @include zoom.Section_zoom;
        cursor: pointer;
    }
    

}        