@use "../utils/variables";
@use "../utils/zoom";
@use "../components/btn";
@use "../utils/mixin";
@use "../utils/responsives";


//Section 5 :


.conteneur__section5{
    @include mixin.block2__mixin;
    padding-bottom: 5%;

    
    
    & h2{
        font-weight: variables.$weight;
        font-size: 4rem;
        padding-top: 7%;
        padding-bottom: 8%;
        text-align: center;

        @include responsives.Desktop{
            padding-bottom: 20%;
        }
        
    }
}




.conteneur__block__section5 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;

    
    @include responsives.Desktop{
        gap: 0px;
    }


}



.info-container{
    width: 32rem;
    margin: 1rem;
    position: relative;
    bottom: 7.5rem;
    line-height: 3rem;

    @include responsives.Desktop{
        width : 77rem;
        margin: 2rem;
        display: flex;
        flex-wrap: wrap;
    }
    
    
    & h3{
        color: black;
        font-size: 2rem;
        padding-bottom: 1rem;
        text-transform: uppercase;

    }
    
    
    & p{
        color:variables.$black;
        font-size: 1.5rem;
        line-height: 2;
        padding: 1rem 0;
            
    }
}


.box__container{
    padding: 2rem 0;
}


.box1{    
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}


.info1{

    & h4{
        color: variables.$black;
        font-size: 2rem;
        padding: 0px;
    }
    
    & p{
        color: variables.$black;
        font-size: 1.5rem;
        line-height: 2;
        padding: 0px;
    }

}        



.box2{    
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}



.info2{
    
    & h4{
    
        color: variables.$black;
        font-size: 2rem;
        padding: 0px;
        margin-right: 10rem;
    }
    
    
    
    & p{
        color: variables.$black;
        font-size: 1.5rem;
        line-height: 2;
        padding: 0px;
    
    }

    
    & p a{
        color: variables.$oranged;
        
    }

}



.box3{    
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
}



.info3{
    
    & h4{
        color: variables.$black;
        font-size: 2rem;
        padding: 0px;
        margin-right: 2rem;
    }
    
    & p{
        color: black;
        font-size: 1.5rem;
        line-height: 2;
        padding: 0px;
    }

    & p a{
        color: variables.$oranged;
    }

}    




.block__input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    @include responsives.Desktop{
        position: relative;
        left: 20%;
        bottom: 5rem;
    }


    & input{
        margin-bottom: 1rem;
        width: 100%;
        background: variables.$light-dark;
        border-radius: 5rem;
        color: #fff;
        font-size: 1.6rem;
        margin: .7rem 0;
        padding: 1.2rem 1.8rem;
        text-transform: none;

    }
}


.textarea{
    border-radius: 1rem;
    height: 25rem;
    resize: none;
    width: 100%;
    background: variables.$light-dark;
    color: variables.$light;
    font-size: 1.6rem;
    margin: .7rem 0;
    padding: 1.2rem 1.8rem;
    text-transform: none;

    @include responsives.Desktop{
        position: relative;
        left: 21%;
        bottom: 5rem;
    }


}



.button{
    @include btn.section5__btn;

    @include responsives.Desktop{
        left: 60%;
        top: 1%;
    }
        
    
    &:hover{
        @include zoom.Section_zoom;
        cursor: pointer;
    }
}




