@use "../utils/variables";
@use "../utils/zoom";
@use "../utils/box-shadows";
@use "../components/btn";
@use "../utils/mixin";
@use "../utils/responsives";


//Section 1 :

.conteneur__section1{
    @include mixin.block1__mixin;
}



.conteneur__block__section1{
    text-align: center;
    
    
    & h2{
        font-weight: variables.$weight;
        font-size: 4rem;
        padding-top: 5%;
           
        @include responsives.Desktop{
            font-size: 6rem;
            padding-top: 5%;
        }
    }
    
    
    & h3{
        font-weight: 700;
        font-size: 3rem;
        color: #fff;
        padding-top: variables.$padding-top+10px;

    
    }
    
    
    .conteneur__border__section1{
        display: flex;
        position: relative;
        left: 48%;
        border: 2px solid variables.$light;
        width: 4%;
        margin-top: variables.$margin-top+5px;  
        
           
    }
    
    
    .conteneur__paragraphe1__section1{
        font-weight: 100;
        font-size: 20px;
        color: variables.$light;
        padding-top: variables.$padding-top;
        padding-bottom: variables.$padding-bottom;
        line-height: 2rem;    

           
     
    }
    
    
    .conteneur__paragraphe2__section1{
        font-weight: 100;
        font-size: 20px;
        color: variables.$light;
        padding-bottom: variables.$padding-bottom+30px;
        line-height: 2rem;    
           
    }
    


    & button{
        @include btn.section1__btn;
    }
    
    

    & button:hover{
        @include zoom.Section_zoom;
        cursor: pointer;
    }
}




