@use "../utils/variables";
@use "../utils/zoom";
@use "../utils/box-shadows";
@use "../components/btn";
@use "../utils/mixin";
@use  "../utils/responsives";


//Section 4 :

.conteneur__section4{
    @include mixin.block2__mixin;
}



.conteneur__block__section4{
    text-align: center;
    padding-bottom: 10%;
    
    
    & h2{
        font-weight: variables.$weight;
        font-size: 4rem;
        padding-top: 7%;
        padding-bottom: 10%;

        @include responsives.phoneL{
            font-size: 3rem;
        }

        @include responsives.phoneM{
            font-size: 2.8rem;
        }

        @include responsives.phoneS{
            font-size: 2.3rem;
        }
    
            
    }


}



.conteneur__block__portfolio1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: variables.$gap+20px;
}



.conteneur__block__projets1{
    background-color: variables.$light;
    padding: 10px;
    max-width: 31%;
    border-radius: 10%;
    margin-bottom: variables.$margin-bottom;
    @include box-shadows.box-shadow_two;
    border: solid 2px variables.$oranged;

    @include responsives.Desktop{
        max-width: 30%;
    }

    @include responsives.tablet{
        max-width: 100%;
    }

    @include responsives.phoneL{
        max-width: 95%;
    }

        
    

    & img{
        max-width: 340px;
        border-radius: 10%;
        @include box-shadows.box-shadow_two;
        border: solid 2px variables.$light;
        
        @include responsives.Desktop{
            max-width: 270px;
        }

        @include responsives.tablet{
            max-width: 390px;
        }

        @include responsives.phoneL{
            max-width: 280px;
        }

        @include responsives.phoneL{
            max-width: 370px;
        }

        @include responsives.phoneM{
            max-width: 330px;
        }

        @include responsives.phoneS{
            max-width: 280px;
        }
    
            
    }

    
    & h3{
        font-size: 28px;
        font-weight: variables.$weight;
        line-height: 5rem;
        margin: 23px;
        letter-spacing: 0.5rem;
        border-radius: 20%;
        border-bottom: 2px solid variables.$black;
        margin-top: 7%;

        
        @include responsives.Desktop{
            font-size: 24px;
        }

        @include responsives.phoneL{
            font-size: 18px;
        }

        @include responsives.phoneM{
            font-size: 13px;
        }

        @include responsives.phoneS{
            font-size: 15px;
        }
    

    }
    


    & p{
        width: 350px;
        word-wrap: break-word;   
        font-size: 20px;
        margin: 20px;
        line-height: 2rem;
        text-align: center;

        @include responsives.Desktop{
            width: 246px;
        }

        @include responsives.tablet{
            width: 391px;
        }

        @include responsives.phoneL{
            width: 92%;
        }

        @include responsives.phoneS{
            width: 86%;
        }
    
            
    }
}


.conteneur__block__portfolio1 button{
    @include btn.section4__btn1;

}



.conteneur__block__portfolio1 button:hover{
    cursor: pointer;
    background-color: variables.$light;
    @include zoom.Section_zoom;
}




.conteneur__block__portfolio2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: variables.$gap+20px;
    
}




.conteneur__block__projets2{
    background-color: variables.$light;
    margin-top: variables.$margin-top;
    padding: 10px;
    border-radius: 10%;
    margin-bottom: variables.$margin-bottom;
    @include box-shadows.box-shadow_two;
    border: solid 2px variables.$oranged;
    max-width: 31%;

    @include responsives.Desktop{
        max-width: 30%;
    }

    @include responsives.tablet{
        max-width: 100%;
    }

    @include responsives.phoneL{
        max-width: 95%;
    }
        
    



    & img{
        max-width: 280px;
        @include box-shadows.box-shadow_two;
        border-radius: 10%;
        border: solid 2px #fff;

        @include responsives.Desktop{
            max-width: 250px;
        }

        @include responsives.tablet{
            max-width: 370px;
        }

        @include responsives.phoneM{
            max-width: 320px;
        }

        @include responsives.phoneS{
            max-width: 270px;
        }
    

            
    }
    
    
    & h3{
        font-size: 28px;
        font-weight: variables.$weight;
        margin: 20px;
        letter-spacing: 0.5rem;
        line-height: 5rem;
        margin-top: 7%;
        border-radius: 20%;
        border-bottom: 2px solid black;

        
        @include responsives.Desktop{
            font-size: 23px;
        }
            
    }
    
    
    
    & p{
        width: 350px;
        word-wrap: break-word;   
        font-size: 20px;
        line-height: 2rem;
        margin: 20px;
        text-align: center;
        line-height: 2rem;

        
        @include responsives.Desktop{
            width: 240px;
        }

        @include responsives.tablet{
            width: 400px
        }

        @include responsives.phoneL{
            width: 92%;
        }
            
    }
}



.conteneur__block__portfolio2 button{
    @include btn.section4__btn1;
}




.conteneur__block__portfolio2 button:hover{
    cursor: pointer;
    background-color: variables.$light;
    @include zoom.Section_zoom;
}




.conteneur__btn__section4{
    @include btn.section4__btn2;
    
    @include responsives.Desktop{
        top: 6rem;
    }

    @include responsives.tablet{
        top: 4rem;
    }

    @include responsives.phoneL{
        top: 2rem;
    }

    @include responsives.phoneM{
        font-size: 1.2rem;
        top: 2rem;
        padding: 1rem;
    }

    @include responsives.phoneS{
        top: 1rem;
    }

}




.conteneur__btn__section4:hover{
    cursor: pointer;
    background-color: #f05f40;
    @include zoom.Section_zoom;
}


