@use "../utils/variables";
@use "../utils/zoom";
@use "../utils/box-shadows";
@use "../components/btn";
@use "../utils/mixin";
@use "../utils/responsives";

//Section3 :

.conteneur__section3{
    @include mixin.block2__mixin;
}



.conteneur__block__section3{
    text-align: center;
    position: relative;
    padding-bottom: 15%;
    
    & h2{
        font-weight: variables.$weight;
        font-size: 4rem;
        padding-top: 7%;
        padding-bottom: 10%;
        
    }
}




.image1__section3{
    display: flex;
    max-width: 135px;
    margin: variables.$margin+10px;
    border-radius: variables.$border-radius;
    padding: variables.$padding;
    background-color: variables.$oranged;
    border: solid 2px variables.$dark;

}



.conteneur__date__section3{
    font-weight: variables.$weight;
    position: absolute;
    font-size: 25px;
    right: 86%;
    bottom: 48rem;
    padding: variables.$padding;
    border-radius: variables.$border-radius;
    border: 2px solid variables.$dark;
    background-color: lightgrey;
    
}



.conteneur__border__section3{
    display: inline-block;
    position: absolute;
    border-left: 3px solid variables.$oranged;
    right: 92%;
    height: 24rem; 
       
} 



.conteneur__block__formation h3{
    font-weight: variables.$weight;
    font-size: 2.5rem;
    position: absolute;
    bottom: 39rem;
    right: 45%;

}




.conteneur__projets__section3{
    
    & h4{
        text-align: justify;
        position: absolute;
        bottom: 35rem;
        padding-left: 14%;
        font-size: 1.5rem;
        font-weight: variables.$weight;
        color: variables.$oranged;

    }

    
    & p{
        text-align: justify;
        line-height: 3.5rem;
        font-size: 17px;
        padding-left: 15%;
        font-weight: 500;

    }

    
    .image2__section3{
        position: absolute;
        bottom: 27rem;
        left: 70%;
        max-width: 200px;
        padding: variables.$padding;
        background-color: #f05f40;
        border: solid 2px black;
        border-radius: variables.$border-radius;

        
    }
    
    
    
    .image2__section3:hover{
        @include zoom.Section_zoom;
        cursor: pointer;
        background-color: variables.$light;
    }
    


    & button{
        @include btn.section3__btn;
            
    }
    
    
    
    & button:hover{
        @include zoom.Section_zoom;
        cursor: pointer;
    }
    

}        