@use "../utils/variables";
@use "../utils/zoom";
@use "../utils/box-shadows";
@use "../components/btn";
@use "../utils/mixin";
@use  "../utils/responsives";


//Section 4 :

.conteneur__section4{
    @include mixin.block2__mixin;
}



.conteneur__block__section4{
    text-align: center;
    padding-bottom: 10%;
    
    
    & h2{
        font-weight: variables.$weight;
        font-size: 4rem;
        padding-top: 7%;
        padding-bottom: 10%;
    }


}



.conteneur__block__portfolio1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: variables.$gap+20px;
}



.conteneur__block__projets1{
    background-color: variables.$light;
    padding: 10px;
    max-width: 31%;
    border-radius: 10%;
    margin-bottom: variables.$margin-bottom;
    @include box-shadows.box-shadow_two;
    border: solid 2px variables.$oranged;
    

    & img{
        max-width: 340px;
        border-radius: 10%;
        @include box-shadows.box-shadow_two;
        border: solid 2px variables.$light;
        
    }

    
    & h3{
        font-size: 28px;
        font-weight: variables.$weight;
        line-height: 5rem;
        margin: 23px;
        letter-spacing: 0.5rem;
        border-radius: 20%;
        border-bottom: 2px solid variables.$black;
        margin-top: 7%;
    }
    


    & p{
        width: 350px;
        word-wrap: break-word;   
        font-size: 20px;
        margin: 20px;
        line-height: 2rem;
        text-align: center;
    }
}


.conteneur__block__portfolio1 button{
    @include btn.section4__btn1;

}



.conteneur__block__portfolio1 button:hover{
    cursor: pointer;
    background-color: variables.$light;
    @include zoom.Section_zoom;
}




.conteneur__block__portfolio2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: variables.$gap+20px;
}




.conteneur__block__projets2{
    background-color: variables.$light;
    margin-top: variables.$margin-top;
    padding: 10px;
    border-radius: 10%;
    margin-bottom: variables.$margin-bottom;
    @include box-shadows.box-shadow_two;
    border: solid 2px variables.$oranged;
    max-width: 31%;
    

    & img{
        max-width: 280px;
        @include box-shadows.box-shadow_two;
        border-radius: 10%;
        border: solid 2px #fff;
    }
    
    
    & h3{
        font-size: 28px;
        font-weight: variables.$weight;
        margin: 20px;
        letter-spacing: 0.5rem;
        line-height: 5rem;
        margin-top: 7%;
        border-radius: 20%;
        border-bottom: 2px solid black;
    }
    
    
    
    & p{
        width: 350px;
        word-wrap: break-word;   
        font-size: 20px;
        line-height: 2rem;
        margin: 20px;
        text-align: center;
        line-height: 2rem;
    }
}



.conteneur__block__portfolio2 button{
    @include btn.section4__btn1;
}




.conteneur__block__portfolio2 button:hover{
    cursor: pointer;
    background-color: variables.$light;
    @include zoom.Section_zoom;
}




.conteneur__btn__section4{
    @include btn.section4__btn2;
}




.conteneur__btn__section4:hover{
    cursor: pointer;
    background-color: #f05f40;
    @include zoom.Section_zoom;
}


