@use "../utils/variables";
@use "../utils/zoom";
@use "../utils/box-shadows";
@use "../utils/mixin";
@use "../utils/responsives";



//Section2 :


.conteneur__section2{
    @include mixin.block2__mixin;
}



.conteneur__block__section2{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 10%;

    
    
    & h2{
        font-weight:variables.$weight;
        font-size: 4rem;
        padding-bottom: 5%;

            
        @include responsives.phoneL{
            font-size: 2.7rem;
            padding-bottom: 10%;
        }

        @include responsives.phoneS{
            font-size: 2.5rem;
        }
    
            
    }
    
    
    .conteneur__block__img img{
        flex-wrap: wrap;
        max-width: 150px;
        margin: 15px;
        border-radius: variables.$border-radius;
        padding: variables.$padding;
        background-color: variables.$oranged;
        border: solid 2px variables.$black;
        @include box-shadows.box-shadow_one;

        @include responsives.phoneL{
            max-width: 150px;
        }
            
        
        @include responsives.Desktop{
            max-width: 140px;
        }

        @include responsives.tablet{
            max-width: 119px;
        }
      
    }
    
    
    .conteneur__block__img img:hover{
        cursor: pointer;
        @include zoom.Section_zoom;
        background-color: variables.$light;
    }
        

}    


